<font color="white"><h1>SERLER</h1>
<div id="Logo">
<%= image_tag ("canvas.png") %>
</div>
<div id="navigation-bar" class="clearfix">
<%= form_tag(articles_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
</div>
<%= link_to 'Advanced Search', new_search_path %>
<%= link_to 'Index', controller: 'articles' %>