
 

<p>
  <strong>keywords:</strong>
  <%= @article.keywords %>
</p>
<p>
  <strong>Author:</strong>
  <%= @article.Author %>
</p>
<p>
  <strong>Research Method:</strong>
  <%= @article.research_method %>
</p>
<p>
  <strong>Research Participant:</strong>
  <%= @article.research_part %>
</p>
<p>
  <strong>SE Method:</strong>
  <%= @article.se_method %>
</p>
<p>
  <strong>Methodology:</strong>
  <%= @article.methodology %>
</p>
<p>
  <strong>Credibilty Ratings:</strong>
  <%= @article.rating %>
</p>
<p>
  <strong>DOI:</strong>
  <%= @article.DOI %>
</p>
<p>
  <strong>Content:</strong>
  <%= @article.Content %>
</p>

<p>
  <strong>Language:</strong>
  <%= @article.Language %>
</p>
<p>
  <strong>File Type:</strong>
  <%= @article.File_Type %>
</p>
<p>
  <strong>Abstract:</strong>
  <%= @article.Abstract %>
</p>
<p>
  <strong>URL:</strong>
  <%= @article.File_URl %>
</p>
<p>
  <strong>File Size(mb):</strong>
  <%= @article.File_Size %>
</p>

<p>
  <strong>Created On:</strong>
  <%= @article.created_at %>
</p>
<p>
  <strong>Last Updated On:</strong>
  <%= @article.updated_at %>
</p>
<td><%= link_to 'Edit', edit_article_path(@article) %></td>
<%= link_to 'Back', articles_path %>
  
