<header class="navbar navbar-fixed-top navbar-inverse">

    <!--  <a href="#"  height:"5px" width:"5px" class="navbar-left"><%= image_tag ("canvas.png")%></a> -->
    <style>
        .logo2 img{width:40px !important;}

    </style>

    
  <div class="container">
     <!-- <a id="logo" href="/">SERLER  Query System</a> -->
     
   <nav>
     <a href="/" class="logo2"><%= image_tag ("canvas.png")%></a>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '/' %></li>
        <li><%= link_to "Help",   '#' %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>