<h1>Search Results</h1>
 <p><%= link_to 'Back to Search', new_search_path %></p>
 <%# if @search.search_articles.all? && !@search.search_articles.empty? %>
 
 <%# <p> Enter Search Criteria</p> %>
  
 <% if @search.search_articles.empty? %>
 
 <p> No Records Found</p>
 
 <% else %>
 
 <% @search.search_articles.each do |c| %>
 <br>
 <div class= "div">
  <h1><%= c.title %></h1>
  <p>Author : <%= c.Author %></p>
  <p>Language : <% c.Language %></p>
  <p>Research_Method : <%= c.research_method %></p>
  <p>Research_Participant : <%= c.research_part %></p>
  <p>SE Method : <%= c.se_method %></p>
  <p>Methodology : <%= c.methodology %></p>
  <p>Ratings : <%= c.rating %></p>
  
 </div>
 
 <% end %>
 <% end %>